<h3>Excel Upload/Download</h3>
<p>기존 정보를 양식에 맞게 시스템에 Upload하거나 기존 정보를 excel로 download할 수 있습니다</p>
<div align="left">
<hr>
  <table>
    <tr>
      <td align="center"><b>내용</b></td>
      <td align="center"><b>Excel양식 Download</b></td>
      <td align="center"><b>upload</b></td>
      <td align="center"><b>기존 정보 Excel Download</b></td>      
    </tr>

    <tr>
      <td><b>수익센터</b></td>
      <td><a href="#">수익센터 정보등록 Excel양식 Download</a></td>
      <td>
        <form action="#">
          <input type="text" name="userinput">
          <input type="hidden" name ="userhide" value = "사용자 excel upload">
          <input type="submit" value="수익센터 정보 Upload">
        </form>
      </td>
      <td><a href="#">기존 수익센터 정보 Excel Download</a></td>
    </tr>

    <tr>
      <td><b>서비스</b></td>
      <td><a href="#">서비스 정보등록 Excel양식 Download</a></td>
      <td>
        <form action="#">
          <input type="text" name="userinput">
          <input type="hidden" name ="userhide" value = "사용자 excel upload">
          <input type="submit" value="서비스 정보 Upload">
        </form>
      </td>
      <td><a href="#">기존 서비스 정보 Excel Download</a></td>
    </tr>

    <tr>
      <td><b>치료사/사용자</b></td>
      <td><a href="#">치료사/사용자 정보등록 Excel양식 Download</a></td>
      <td>
        <form action="#">
          <input type="text" name="userinput">
          <input type="hidden" name ="userhide" value = "사용자 excel upload">
          <input type="submit" value="치료사/사용자 정보 Upload">
        </form>
      </td>
      <td><a href="#">기존 치료사/사용자 정보 Excel Download</a></td>
    </tr>


    <tr>
      <td><b>지원</b></td>
      <td><a href="#">지원 정보등록 Excel양식 Download</a></td>
      <td>
        <form action="#">
          <input type="text" name="userinput">
          <input type="hidden" name ="userhide" value = "사용자 excel upload">
          <input type="submit" value="지원 정보 Upload">
        </form>
      </td>
      <td><a href="#">기존 지원 정보 Excel Download</a></td>
    </tr>

    <tr>
      <td><b>내담자</b></td>
      <td><a href="#">내담자 정보등록 Excel양식 Download</a></td>
      <td>
        <form action="#">
          <input type="text" name="userinput">
          <input type="hidden" name ="userhide" value = "사용자 excel upload">
          <input type="submit" value="내담자 정보 Upload">
        </form>
      </td>
      <td><a href="#">기존 내담자 정보 Excel Download</a></td>
    </tr>

    <tr>
      <td><b>비용코드</b></td>
      <td><a href="#">내부비용 코드 Excel양식 Download</a></td>
      <td>
        <form action="#">
          <input type="text" name="userinput">
          <input type="hidden" name ="userhide" value = "비용코드 excel upload">
          <input type="submit" value="비용코드 Upload">
        </form>
      </td>
      <td><a href="#">비용코드 정보 Excel Download</a></td>
    </tr>

  </table>

  <hr>
