<table>
  <tr>
    <td>검색</td>
    <%= form_tag(payments_path, :method => "get") do %>

      <%# search_field_tag :yearmonth, params[:yearmonth], placeholder: "해당월" %> 
      <td><%= search_field_tag :client, params[:client], placeholder: "내담자명" %>
      <td><%= month_field_tag :yearmonth, params[:yearmonth] %></td>
      
      </td>
      <td><%= button_tag "탐색" %></td>
    <% end %>
  </tr>
</table>

<script>
  $("#client_selector").on("change",() => {
    let selected_value = $("#client_selector").val()
    if(selected_value === "내담자명"){
      removeParam('client')
    }else{
      insertParam('client', selected_value)
    }
  })

  $("#yearmonth_selector").on("change",() => {
    let selected_value = $("#yearmonth_selector").val()
    if(selected_value === "해당연월"){
      removeParam('yearmonth')
    }else{
      insertParam('yearmonth', selected_value)
    }
  })

</script>
