<table>
  <tr>
    <td>검색</td>
    <%#= form_tag(payments_path, :method => "get") do %>
    <%= form_tag(schedules_path, :method => "get") do %>
    <td><%= search_field_tag :client, params[:client], placeholder: "내담자명" %>
        <%#= select_tag :counsellor_selector, options_for_select(@conusellors, params[:conusellor]) %>
    </td>
    <td><%= button_tag "탐색" %></td>
    <% end %>
  </tr>
</table>

<script>
  $("#client_selector").on("change",() => {
    let selected_value = $("#client_selector").val()
    if(selected_value === "내담자명"){
      removeParam('client')
    }else{
      insertParam('client', selected_value)
    }
  })

</script>
