<h3>청구일정 조회 Download</h3>
<p>청구된 일정에 대한 조회 및 Download</p>
<div align="left">
<hr>
<table>
  <tr>
    <td><b>해당 월 선택</b></td>
    <td>
      <form action="#">
        <input type="month" name="userinput">
        <input type="hidden" name ="userhide" value = "사용자 excel upload">
        <input type="submit" value="해당월의 청구일정 Download">
      </form>
    </td>
  </tr>
</table>

<hr>

<table width="100%" align="center">
  <thead>  
    <tr bgcolor="yellow" font-color ="red" align="center">
      <td>No</td>
      <td>Date</td>
      <td>치료사</td>
      <td>내담자</td>
      <td>청구</td>
      <td>결제</td>
      <td>급여</td>
      <td>급여조건</td>
      <td>지원</td>
      <td>통장</td>
    </tr>
  </thead>

  <tbody>  
    <tr align="center">
      <td>005</td>
      <td>2021-01-10</td>
      <td>언어샘</td>
      <td>내담자1</td>
      <td>0.5</td>
      <td>22500</td>
      <td>12250</td>
      <td>토+1000</td>
      <td>자비</td>
      <td>연구소</td>
    </tr>
    <tr align="center">
      <td>006</td>
      <td>2021-01-10</td>
      <td>언어샘</td>
      <td>내담자2</td>
      <td>1</td>
      <td>45000</td>
      <td>22500</td>
      <td></td>
      <td>자비</td>
      <td>연구소</td>
    </tr>
  </tbody>
</table>
