<div class="py-1" align="center">
  <b>희망찬심리발달센터 관리시스템-CenterSys8: 결제모듈개발</b>    
</div>

<% if user_signed_in? %>
  <p align="right"> 안녕하세요? <%= current_user.username %>님 |<%#= current_user.id %>
    <a href="/users/edit">p/w변경</a> |
    <a href="/users/sign_out" data-method="delete">[로그아웃]</a>
  </p>
  <%#= link_to("비밀번호 변경", edit_my_passwords_path) %>
  <%#= link_to("탈퇴", edit_my_resigns_path) %>
<% end %>

<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item dropdown dmenu alert-warning">
        <a class="nav-link dropdown-toggle" href="/clients" id="navbardrop" data-toggle="dropdown">
          접수 & 고객관리
        </a>

        <div class="dropdown-menu sm-menu alert-warning">          
          <a class="dropdown-item" href="#">접수관리</a>
          <a class="dropdown-item" href="/clients">고객관리</a>       
        </div>
      </li>

      <li class="nav-item menu">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            |  
        </a>
      </li>

      <li class="nav-item dropdown dmenu alert-info">
        <a class="nav-link dropdown-toggle" href="/schedules" id="navbardrop" data-toggle="dropdown">
          일정소통 & 치료계획
        </a>
        <div class="dropdown-menu sm-menu alert-info">          
          <a class="dropdown-item" href="/schedules">일정관리</a>
          <a class="dropdown-item" href="#">소통관리</a>       
          <a class="dropdown-item" href="#">치료계획</a>       
        </div>  
      </li>

      <li class="nav-item menu">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            |  
        </a>
      </li>

      <li class="nav-item dropdown dmenu alert-danger">
        <a class="nav-link dropdown-toggle" href="/payments" id="navbardrop" data-toggle="dropdown">
          결제 & 급여
        </a>
        <div class="dropdown-menu sm-menu alert-danger">          
          <a class="dropdown-item" href="/payments">결제관리</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">급여정산</a>       
          <a class="dropdown-item" href="#">비용정산</a>       
          <a class="dropdown-item" href="#">월정산</a>       
        </div>
      </li>

      <li class="nav-item menu">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            |  
        </a>
      </li>

      <li class="nav-item dropdown dmenu alert-success">
        <a class="nav-link dropdown-toggle" href="/profiles" id="navbardrop" data-toggle="dropdown">
          등록세팅
        </a>
        <div class="dropdown-menu sm-menu alert-success">          
          <a class="dropdown-item" href="/profiles">사용자 등록</a>
          <a class="dropdown-item" href="/code_paykinds">지원 등록</a>    
          <a class="dropdown-item" href="#">서비스료 등록</a>    
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">전자바우처 자동등록</a>
          <a class="dropdown-item" href="#">엑셀 업로드/다운로드</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/code_centers">수익센터 등록</a>
          <a class="dropdown-item" href="/code_services">서비스 등록</a>
          <a class="dropdown-item" href="/code_sexes">성별 등록</a>
        </div>         
      </li>

      <li class="nav-item menu">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            |  
        </a>
      </li>

      <li class="nav-item dropdown dmenu alert-secondary">
        <a class="nav-link dropdown-toggle" href="/boards" id="navbardrop" data-toggle="dropdown">
          게시판
        </a>
        <div class="dropdown-menu sm-menu alert-secondary">          
          <a class="dropdown-item" href="#">센타자료</a>
          <a class="dropdown-item" href="#">관련Links</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/boards">개발보드</a>
        </div>          
      </li>
    </ul>

    <%# <span class="navbar-text">
      <a class="nav-link" href="#">관련링크</a>      
    </span> %>
  </div>  
</nav>
<%# <hr> %>


















<script type="text/javascript">
  $(document).ready(function () {
  $('.navbar-light .dmenu').hover(function () {
          $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
      }, function () {
          $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
      });
  });
</script>